:root
{
    --background-brown: #714433;
    --background-white: #ddd;
    --background-grey: #333;
    --shadow-color: rgba(0, 0, 0, .7);
    --white-text: #dfdfdf;
    --black-text: #252525;
    --grey-text: #515151;
    --red-text: #900;
    --form-color: #c46352;
    --yellow-color: #f7c469;
    --footer-color: #151515;
    --border-top: rgba(37, 37, 37, .5);
    --black-color: #000;
    --card-background: #e3e3e3;
}