---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Form from '../components/Form.svelte'
---

<Layout>
  <Header />
  <main id="main">
    <Form client:only="svelte" />
  </main>
  <Footer />
</Layout>

<style lang="scss">
  main {
    --main-spacer: 2rem;
    --chevron-width: 0.85rem;
    --chevron-fill: hsl(var(--black-color));
    padding-block-start: var(--main-spacer);
  }
</style>
