---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Form from '../components/form/Form.svelte'
import ResultsSection from '../components/results/ResultsSection.svelte'
import RecipeDetailsSection from '../components/details/RecipeDetailsSection.svelte'
---

<Layout>
  <Header />
  <main id="main">
    <Form client:only="svelte" />
    <ResultsSection client:only="svelte" />
    <RecipeDetailsSection client:only="svelte" />
  </main>
  <Footer />
</Layout>

<style lang="scss">
  main {
    --section-spacer: var(--double-spacer);
    --chevron-width: 0.85em;
    --chevron-fill: hsl(var(--black-color));
    display: grid;
  }
</style>
