---
const currentYear = new Date().getFullYear()
---

<footer class="footer">
  <p class="footer__copyright">
    Copyright <span aria-hidden="true">&copy;</span> FindMeRecipe {currentYear}
  </p>
</footer>

<style lang="scss">
  .footer {
    padding: 2rem;
    background-color: hsl(var(--black-color));
    text-align: center;

    &__copyright {
      color: hsl(var(--white-color));
    }
  }
</style>
