<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FindMeRecipe - recipe generator</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @font-face {
    font-family: 'jost';
    src:
      local('Jost'),
      url('/fonts/jost-font.woff2') format('woff2');
    font-display: fallback;
  }

  @supports (scrollbar-width: thin) {
    * {
      scrollbar-width: thin;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: hsl(var(--light-black-color));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--gray-color));
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--gray-color) / 0.75);
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :root {
    --black-color: 0 0% 10%;
    --brown-color: 16 38% 32%;
    --gray-color: 0 0% 40%;
    --light-black-color: 0 0% 20%;
    --pink-color: 13 100% 70%;
    --white-color: 0 0% 90%;
    --yellow-color: 39 100% 71%;
    --form-width: min(100% - 2rem, 50rem);
    --form-radius: 1.5rem;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(var(--yellow-color));
    font-family: jost, sans-serif;
    font-size: clamp(0.8rem, 0.7311rem + 0.3939vw, 1.125rem);
    color: hsl(var(--black-color));
    line-height: 1.5;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  button {
    padding: 0.25em 1.5em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    background-color: hsl(var(--yellow-color));
    color: inherit;
    border: none;
    border-radius: 100vmax;
    cursor: pointer;
  }

  button:focus-visible {
    outline: 2px solid hsl(var(--black-color));
  }

  ul {
    list-style-type: none;
  }

  .wrapper {
    margin-inline: auto;
    width: min(100% - 3rem, 75rem);
  }

  .form {
    &__input-label,
    &__group-title {
      font-weight: 500;
    }

    &__group {
      --transition-duration: 200ms;

      > button {
        background: none;
      }
    }

    &__group:not(:first-child) {
      padding-block: calc(var(--spacer) / 2);
    }

    &__group:first-child {
      padding-block-end: var(--spacer);
    }

    &__group {
      border-block-end: 2px solid hsl(var(--black-color) / 0.2);
    }

    button[aria-expanded='true'] svg {
      --chevron-rotate: 180deg;
    }

    input {
      display: block;
      padding: 0.25rem;
      margin-inline: auto;
      width: min(100%, 15rem);
      border: none;
      border-radius: 0.25rem;
      background-color: hsl(var(--yellow-color));
    }

    input:focus-visible {
      outline: 2px solid hsl(var(--black-color) / 0.5);
    }
  }
</style>
