<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>FindMeRecipe - recipe generator</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @font-face {
    font-family: 'jost';
    src:
      local('Jost'),
      url('/fonts/jost-font.woff2') format('woff2');
    font-display: fallback;
  }

  @supports (scrollbar-width: thin) {
    * {
      scrollbar-width: thin;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: hsl(var(--light-black-color));
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--gray-color));
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--gray-color) / 0.75);
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  :root {
    --black-color: 0 0% 10%;
    --gray-color: 0 0% 40%;
    --light-black-color: 0 0% 20%;
    --pink-color: 13 100% 70%;
    --white-color: 0 0% 90%;
    --yellow-color: 39 100% 71%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: hsl(var(--yellow-color));
    font-family: jost, sans-serif;
    font-size: clamp(0.8rem, 0.7311rem + 0.3939vw, 1.125rem);
    color: hsl(var(--black-color));
    line-height: 1.5;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .wrapper {
    margin-inline: auto;
    width: min((100% - 3rem), 75rem);
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin-top: 2rem;
      max-width: 50vw;
      border-radius: 2.5rem;
      background-color: hsl(var(--pink-color));
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);

      .hint {
        margin-bottom: 1rem;
        color: #515151;
      }

      &-title {
        margin-bottom: 0.5rem;
        text-align: center;
      }

      &-options {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      &-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem;
        width: 100%;
        border-top: 2px solid rgba(37, 37, 37, 0.5);

        &-inputs {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &-checkboxes {
          max-height: 0;
          overflow: hidden;
          transition:
            max-height 0.3s,
            margin-top 0.3s;
        }

        &-check {
          display: inline-block;
          padding: 5px 10px;
          margin-bottom: 5px;
          border: none;
          border-radius: 5px;
          color: hsl(var(--black-color));
          background-color: hsl(var(--white-color));
          transition: background-color 0.3s;
          cursor: pointer;

          input[type='checkbox'] {
            display: none;
          }
        }

        .checkbox-chosen {
          background-color: #f7c469;
        }

        .check-active {
          margin-top: 1rem;
          max-height: 22vh;
        }

        .arrow-upwards {
          transform: rotate(180deg);
        }
      }

      &-option:last-child {
        border-bottom: 2px solid rgba(37, 37, 37, 0.5);
      }

      &-label {
        font-weight: 600;
      }

      &-input,
      &-range,
      &-option-input {
        height: 1.5rem;
        width: 200px;
        border-radius: 5px;
        border: none;
        background-color: #f7c469;
        outline: none;
      }

      &-range {
        width: 90px;
      }

      &-option-input {
        margin-bottom: 1rem;
      }

      &-input:focus,
      &-range:focus,
      &-option-input:focus {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
      }

      &-find {
        padding: 7px 15px;
        margin-top: 2rem;
        border: none;
        border-radius: 10px;
        color: hsl(var(--black-color));
        font-weight: 600;
        background-color: #f7c469;
        outline: none;
        transition: background-color 0.3s;
        cursor: pointer;
      }

      &-find:hover {
        background-color: hsl(var(--white-color));
      }

      &-error {
        margin-top: 1rem;
        font-weight: 600;
        color: #900;
      }
    }

    &__contribution {
      margin-top: 5rem;
      background-color: #c46352;
      text-align: center;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    &__results {
      display: none;
      width: 100vw;
      background-color: #714433;

      &-header {
        margin-top: 5rem;
        color: hsl(var(--white-color));
      }
    }

    &__result-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      margin: 2rem 0;
    }

    &__result-card {
      display: flex;
      flex-direction: column;
      background-color: #e3e3e3;
      width: 300px;
      border-radius: 10px;

      &-title,
      &-calories,
      &-ingredients,
      &-more {
        padding: 0.8rem;
      }

      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        font-weight: 600;
      }

      &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      img {
        width: 100%;
        height: 250px;
      }

      &-calories,
      &-ingredients {
        font-weight: 600;
      }

      &-calories {
        padding-bottom: 0;
      }

      &-ingredients {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: inside;
        flex-grow: 1;
      }

      &-more {
        .read-more-link {
          color: #714433;
          font-weight: 600;
        }
      }

      .dish-type,
      .calories-number {
        font-weight: normal;
      }
    }

    &__details {
      display: none;
      padding: 3rem 0 1rem 0;
      width: 100vw;
      background-color: #333;
      color: hsl(var(--white-color));

      &-header {
        margin-bottom: 2rem;
        color: hsl(var(--white-color));
      }

      .clicked-food {
        min-width: 400px;
        width: 35vw;
        border-radius: 10px;
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
      }

      &-general {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .bold {
          margin-top: 2rem;
          font-weight: 600;
        }

        .bold:first-of-type {
          margin-top: 0;
        }

        .cuisine-type {
          font-weight: normal;
        }

        .diet-labels,
        .health-labels {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          max-width: 40vw;
          width: 300px;

          li {
            margin-left: 2rem;
          }
        }

        .ingredients {
          list-style: inside;
        }
      }

      &-nutrition-facts {
        margin-left: 10rem;
        padding: 1rem;
        background-color: #ddd;
        color: #000;
        text-align: left;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        border-radius: 5px;

        .black-block {
          height: 10px;
          background-color: #000;
        }

        .nutrition-facts-table {
          border-collapse: collapse;

          th {
            border-bottom: 5px solid #000;
            text-align: right;
          }

          td {
            border-bottom: 1px solid #333;
          }

          td:nth-child(odd) {
            width: 150px;
            font-weight: 600;
          }

          td:nth-child(even) {
            width: 100px;
            text-align: right;
          }

          td.table-left {
            padding-left: 1rem;
            font-weight: normal;
          }

          .table-border-bottom {
            border-bottom: 5px solid #000;
          }
        }
      }

      .margin-top {
        margin-top: 2rem;
      }

      .see-recipe {
        font-weight: 600;
        color: #f7c469;
        cursor: pointer;
      }

      .container {
        display: flex;
        align-items: center;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
  }

  .margin {
    margin-bottom: 0.5rem;
  }

  .fa-angle-down {
    padding: 5px;
    padding-left: 0;
    transition: transform 0.3s;
  }

  .fa-square-plus {
    margin-left: 5px;
  }

  .pointer {
    cursor: pointer;
  }

  .add-more {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 3px 8px;
    width: 200px;
    color: hsl(var(--black-color));
    font-weight: 600;
    background: none;
    border-radius: 10px;
    border: 2px solid hsl(var(--black-color));
    outline: none;
    cursor: pointer;
  }

  .edamam-img {
    width: 300px;
  }

  .font-weight {
    font-weight: normal;
  }

  @media (max-width: 768px) {
    .main {
      &__form {
        max-width: 80vw;
      }

      &__contribution,
      .edamam-img {
        max-width: 80vw;
      }

      &__results-header {
        margin-top: 3rem;
      }

      &__result {
        &-cards {
          padding: 1rem;
        }

        &-card-title {
          height: 3rem;
        }
      }

      &__details {
        .clicked-food {
          min-width: 400px;
          width: 50vw;
        }

        &-info {
          margin-top: 3rem;
        }

        &-general {
          padding: 0;

          .diet-labels,
          .health-labels {
            display: flex;
            list-style: disc;
            padding: 1rem;

            li {
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .main {
      &__form {
        border-radius: 15px;
      }

      &__contribution {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &__details {
        padding: 1rem;

        .container {
          flex-direction: column;
          justify-content: center;
        }

        .clicked-food {
          min-width: 250px;
          width: 50vw;
        }

        &-info {
          flex-direction: column;
          margin-top: 0;
          width: 100vw;
        }

        &-general {
          margin-top: 2rem;
          margin-right: 0;
          max-width: 100%;

          .diet-labels,
          .health-labels {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            list-style: inside;
            transform: translateX(0);

            li {
              margin-left: -0.5rem;
            }
          }
        }

        &-nutrition-facts {
          margin-top: 3rem;
          max-width: 80%;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .main {
      &__details {
        &-general {
          max-width: 90%;
        }
        &-nutrition-facts {
          max-width: 90%;
        }
      }
    }
  }
</style>
